<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    
<nav>
    <ul>
        <li><a href="/products">Productos</a></li>
        <li><a href="/products/add">Agregar Producto</a></li>
        <li><a href="/products/realtimeproducts">Productos en Tiempo Real</a></li>
    </ul>
</nav>

    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
        <li>
            <ul>
                <li>Nombre: {{this.name}}</li>
                <li>Precio: {{this.price}}</li>
                <li>Categoría: {{this.category}}</li>
                <li>Descripción: {{this.description}}</li>
                <li>Stock: {{this.stock}}</li>
            </ul>
            <button onclick="deleteProduct('{{this.id}}')">Eliminar</button>
        </li>
        {{/each}}
    </ul>

    <script>
        function deleteProduct(id) {
            fetch(`/products/${id}`, { method: 'DELETE' })
                .then(response => {
                    if (!response.ok) {
                        console.error('Error eliminando el producto');
                    }
                });
        }
    </script>
</body>
</html>




